nav {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 10px;
}


ul {
  display: flex;
  justify-content: center;
  align-items: center; /*vertikālais*/
  list-style-type: georgian;
  margin: auto;
  padding: 10px;
  width: fit-content;
  height: 30px;
  background-color: rgba(42, 71, 45, 0.8);
}

li {
  display: inline;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 7px;
  text-decoration: none;
  /*margin-right: 15px;*/
  padding-left: 10px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 3px;
  border-left: 0px;
  border-color: white;
  border-style: inset;
}

a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.current a {
  padding: 5px;
color: rgb(255, 255, 255);
border-top: 2px;
border-bottom: 2px;
border-right: 0px;
border-left: 0px;
border-color: white;
border-bottom-style: inset;
border-top-style: outset;
animation-name: fadein;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;
}

#endbutton {
  border: 0px;
  border-color: white;
  border-style: double;
}

@-webkit-keyframes slidein {
  from {background-position: top; background-size:2750px; }
  to {background-position: -100px 0px;background-size:2500px;}
  }
  
  @keyframes slidein {
  from {background-position: top;background-size:2750px; }
  to {background-position: -100px 0px;background-size:2500px;}
  }

div.background {
  height: 100vh;
  width: 100%;
  background-image: url('./goldwoodimages/goldwood.lv\ index\ img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-size:cover;
        -webkit-animation: slidein 60s;
        animation: slidein 60s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

.header {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.616), rgba(255, 255, 255, 0));
  width: auto;
  height: 170px;
  padding-bottom: 20px;
}

.parmums {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  width: 80vw;
  height: 300px;
  margin: auto;
  background-color: rgba(42, 71, 45, 0.8);
}

.textparmums {
  width: 500px;
  margin-left: 20px;
}

p {
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  text-indent: 10px;
}

img {
  height: 270px;
  object-fit: cover;
  align-self: baseline;
}






.pamatne {
  display: block;
  background-color: darkslategray;
  position: relative;
  width: 75vw;
  border: 0px solid white;
  border-radius: 25px;
  margin: auto;
  margin-top: 50px;
  padding: 5vh;
  justify-content: space-around;
  align-items: center;
}

.paragrāfs {
  display: block;
  position: relative;
  align-items: center;
  color: white;
  font-size: medium;
}

.ul {
  background-color: rgb(255, 255, 255);
  line-height: 30px;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 3px;
  border: 0px solid white;
  border-radius: 20px;
  list-style-type: none;
  padding: 3vw;
  margin-top: 3vw;
}

.li {
  background-color: rgb(128, 130, 62);
  border: 0px solid white;
  border-radius: 20px;
  color: white;
  padding: 3vw;
}

a {
  color: white;
}

p {
  color: white;
}









.footer {
  position: relative;
  display: block;
  background-color: rgb(12, 54, 25);
  margin-bottom: 0px;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.footer p {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  background-color: rgb(12, 54, 25);
  padding: 1vh;
  margin: 1vh;
}

.rekvizīti {
  display: block;
  position: relative;
  margin: 10vh;

}

.karte {
  display: block;
  position: relative;
  margin: auto;
}

p {
  color: white;
}
a {
  color: white;
}

html {
scroll-behavior: smooth;
}